@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(style_components/style.css);
@import url(style_components/header.css);
@import url(style_components/claim_wrapper.css);
@import url(style_components/responsive.css);
@import url(style_components/about.css);
@import url(style_components/Questions.css);
@import url(footer.css);
@import url(style_components/supreme.css);
@import url(bootstrap.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



:root {
    --green_color: #009899;
    --fade_yalow: #E7EEB0;
    --more_fade_ylw: #F9FBEB;
    --white: #FFFFFF;
    --btn_color_khoiri: #606060;
    --fade_khoire: #808080;
    --laniar_gradient: linear-gradient(180deg, #E7EEB0 0%, rgba(255, 255, 255, 0) 90%);
    --fade_black: #606060;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0px;
}

p {
    font-size: 16px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h4 {
    font-size: 24px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h6 {
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

small {
    font-size: 12px;
}